<h1>Blog Posts</h1>

<div class="posts">
  <% @posts.each do |post| %>
    <article class="post">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <div class="post-content">
        <%= truncate(post.content, length: 200) %>
      </div>
      <div class="post-actions">
        <%= link_to 'Edit', edit_post_path(post), class: 'button' %>
        <%= link_to 'Delete', post_path(post), 
            method: :delete, 
            data: { confirm: 'Are you sure?' }, 
            class: 'button delete' %>
      </div>
    </article>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, class: 'button primary' %>
